@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    text-decoration: none;
    list-style-type: none;
}


body{
    font-family: 'Be Vietnam', sans-serif;
    

}
/* Aca empieza el header */

header{
height: 600px;
background-image: url(./img/DEVILLE_2756.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

.titulo{
    color: whitesmoke;
    text-align: center;
    padding: 30px;
}

.Arriba{
    display: flex;
    height: 30px;
    color: whitesmoke;
    background-color: #a99382;
    justify-content: center;
    align-items: center ;
}

.maincontainer{
    display: flex;
    justify-content: space-around;
}

.containerNav nav ul{
    display: flex;;
    justify-content: center;
    gap: 120px;
    color: whitesmoke;
    font-size: 1.4rem;

}

/*Aca empieza el main*/
/* Section Black*/

.black{
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
    align-items: center;  
}


.reduno{
    width: 570;
    height: 635;
    background-image: url(./img/red1.jpg);
    

}

.reddos{
    background-image: url(./img/red2.jpg);
    
    
}
h2{
align-items: center;
color: #a99382;
font-size: 3rem;
margin-left: 20rem;
text-align: center;    
}

/* Aca empieza footer*/

footer{
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-between;
    width: 100vw;
    
}

/* Empieza la Section Container*/

.containerSection{
    display: flex;
    gap: 10px;

    
}

.logo{
    color: #625a53;    
    display: flex;
    flex-direction: column;
    font-size: x-small;
    gap: 5px;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px;
    width: 450px;

}

.logo img{
    height: 100px;
    width: 130px;
    padding: 15px;
}

/* Empieza Section Ayuda */

.ayuda{
    align-items: flex-start;
    color: #625a53;    
    display: flex;
    flex-direction: column;
    font-size: x-small;    
    justify-content: space-between;
    width: 550px;
}

.ayuda p{
    color: rgb(17, 6, 6);
    margin-top: 50px;
    margin-bottom: 15px;
}

.deville{
    
    color: #625a53;    
    display: flex;
    flex-direction: column;
    font-size: x-small;    
    justify-content: space-around;
    width: 550px;
}

.deville h2{
    justify-content: flex-start;
}
    
    




