<style>
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');
</style>
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    text-decoration: none;
    list-style-type: none;
}

body{
    font-family: 'Be Vietnam', sans-serif;   

}

/* Aca empieza el header */

header{
height: 600px;
background-image: url(./img/DEVILLE_2756.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

.titulo{
    color: whitesmoke;
    text-align: center;
    padding: 30px;
}

.Arriba{
    display: flex;
    height: 30px;
    color: whitesmoke;
    background-color: #a99382;
    justify-content: center;
    align-items: center ;
}

.maincontainer{
    display: flex;
    justify-content: space-around;
}

.containerNav nav ul{
    display: flex;;
    justify-content: center;
    gap: 120px;
    color: whitesmoke;
    font-size: 1.4rem;
}

/*Aca empieza el main*/
/* Section Black*/

.black{
  display: flex;
  margin-top: 2rem;
  justify-content: space-around;
  align-items: center;

  color: #A99382;
  font-family: 'Cardo', serif;
  font-size: 50px;
  font-weight: 200;
  
}


.red{
 
}
.reduno{
    width: 570;
    height: 635;
   background-image: url(./img/red1.jpg);
    

}

.reddos{
    background-image: url(./img/red2.jpg);    
    
}
