@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    text-decoration: none;
    list-style-type: none;
}

body{
    font-family: 'Be Vietnam', sans-serif;  
}

/* Aca empieza el header */

header{
height: 600px;
background-image: url(./img/DEVILLE_2756.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

.titulo{
    color: whitesmoke;
    text-align: center;
    padding: 30px;
}

.Arriba{
    display: flex;
    height: 30px;
    color: whitesmoke;
    background-color: #a99382;
    justify-content: center;
    align-items: center ;
}

.maincontainer{
    display: flex;
    justify-content: space-around;
}

.containerNav nav ul{
    display: flex;;
    justify-content: center;
    gap: 120px;
    color: whitesmoke;
    font-size: 1.4rem;
}

/*Aca empieza el main*/
/* Section Black*/

.black{
    display: flex;
    margin-top: 2rem;
    justify-content: space-around;
    align-items: center;  
}

.reduno{
    width: 570;
    height: 635;
    background-image: url(./img/red1.jpg);   

}

.reddos{
    background-image: url(./img/red2.jpg);    
    
}

.sweet{
align-items: center;
color: #a99382;
font-size: 3rem;
margin-left: 20rem;
text-align: center;    
}

/* Aca empieza footer*/

footer{
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-between;
    width: 100vw;    
}

/* Empieza la Section Container*/

.containerSection{
    display: flex;
    gap: 10px;  
    margin-bottom: -60px;  
}

footer .containerSection section{
    height: 450px;
    width: 580px;
}
/* Aca empieza la section logo */

.logo{
    color: #7A7A7A;    
    display: flex;
    flex-direction: column;
    font-size: x-small;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;    
}

.logo img{    
    height: 130px;
    margin-left: -12px;
    width: 150px;
    padding: 15px;
}

.logo .shop{
    margin-bottom: 15px;
    margin-left: 30px;
}

.logo .ventas{
    margin-left: 30px;
}

/* Empieza Section Ayuda */

.ayuda{
    align-items: flex-start;
    color: #7A7A7A;    
    display: flex;
    flex-direction: column;
    font-size: 12px;    
    justify-content: center;
    margin-left: -80px;
    padding: 40px;
    
}

.ayuda p{
    color: rgb(17, 6, 6);
    font-size: larger;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 25px;    
}

.ayuda .h3{
    line-height: 25px;
    width: 400px;
}
/*Empieza la section deville*/

.deville{    
    align-items: flex-start;
    color: #7A7A7A;    
    display: flex;
    flex-direction: column;
    font-size: 12px;     
    justify-content: center;  
    margin-top: -10px;
    margin-left: -130px;
    
}

.deville h2{    
    color: rgb(17, 6, 6);
    font-size: larger;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 25px;
}

.deville h3{
    line-height: 25px;
}

/*Aca empieza la section rrs*/

.rrs{
    align-items: flex-start;
    color: #7A7A7A;    
    display: flex;
    flex-direction: column;
    font-size: 12px;     
    justify-content: center;  
    margin-top: -45px;
    margin-left: -80px;
}

.rrs h2{    
    color: rgb(17, 6, 6);
    font-size: larger;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 30px;
}

/*Aca empieza section newsletter*/

.newsletter{
    align-items: flex-start;
    color: #7A7A7A;    
    display: flex;
    flex-direction: column;
    font-size: 12px;     
    justify-content: center;  
    margin-top: -45px;
    margin-left: -150px;
}

.newsletter h3{
    color: rgb(17, 6, 6);
    font-size: larger;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 35px;    
}

.form input{
    background-color:#ebebeb ;
    padding: 10px;
    width: 300px;
}

.form button{
    background-color:rgb(41, 38, 38) ;
    color: rgb(244, 237, 237);
    margin-top: 10px;
    padding: 10px;
    width: 80px;
}

/* Aca empieza div final */

.final{
    color: #7A7A7A;
    display: flex;
    font-size: small;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin-bottom: 380px;
    width: 100%;
}
